.container
  %h2 About this website
  This website contains all documentation, 
  source code and additional information for the MSEE project.
  It provides a web frontend for the interaction with the underlying services. 


  .row
    .span4
      %p
        %a{"href" => "http://www.msee-ip.eu/", "target" => "_blank"}= image_tag("msee_logo.png")
      %h2 Based on
      %a{"href" => "http://www.sesa.sti2.at/"} SESA Plattform
  %p
  %p

