.container
  .alert.alert-info
    %strong Coming soon
    %br
    This section will be written if the requirements are clear and the SESA platform
    was adapted to the MSEE usecase.
  %h1 MSEE SESA Instance
  %p{"align" => "justify"}
