.container
  .hero-unit
    .row
      .span2
        %h1 &nbsp;
        = image_tag "rdf.png"
      .span8
        %h1 e-Freight Ontology
        %p{"align" => "justify"}
          During the creation of the e-Freight platform, stakeholders should use a
          common model for communicating their expectations on the functionality,
          operations, data formats and processes about the platform. In the e-Freight
          ontology, concepts and properties are modelled in a precise, yet intuitive
          way, making the e-Freight knowledge independent from software development
          tools. This knowledge is beneficial for business users who want to
          offer/request services to/from other users of the platform, service
          integrators developing technical implementations for composite e-Freight
          services and authorities who can check regulatory conformance of e-Freight
          services.
        %p
          %a.btn.btn-primary.btn-large{"href" => "http://efreight.sti2.at/ontology/crs.html", "target" => "_blank"} Learn more &raquo;
  .row
    .span6
      %h2 OntoWiki
      %p{"align" => "justify"}
        With the help of a Wiki it is possible
        to iterative improve the ontology with
        the help of domain experts.
      %p
        %a.btn{"href" => "http://efreight.sti2.at/ontowiki/", "target" => "_blank"} Edit Ontology &raquo;
    .span6
      %h2 OWL Ontology
      %p{"align" => "justify"}
        The e-Freight Ontology is of type OWL.
        The most common serialization type,
        that is published on the internet, is
        RDF/XML. Here you find a direct link
        to this type of representation.
      %p
        %a.btn{"href" => "http://efreight.sti2.at/ontology/crs", "target" => "_blank"} Direct Link &raquo;
    .span6
