.span3
  .sidebar-nav
    %ul.nav.nav-list
      %li.nav-header Architecture
      %li
        %a{"href" => "/doc"}
          %i{"class" => "icon-home"}
          Overview
      %li.nav-header Tutorials
      %li
        %a{"href" => "/doc/service_annotation"}
          %i{"class" => "icon-book"}
          Service Annotation

      %li.nav-header Components
      %li
        %a{"href" => "#repository"}
          %i{"class" => "icon-tag"}
          Repository
      %li
        %a{"href" => "#management"}
          %i{"class" => "icon-tag"}
          Management
      %li
        %a{"href" => "#registration"}
          %i{"class" => "icon-tag"}
          Registration
      %li
        %a{"href" => "#discovery"}
          %i{"class" => "icon-tag"}
          Discovery
      %li
        %a{"href" => "#invocation"}
          %i{"class" => "icon-tag"}
          Invocation
      %li
        %a{"href" => "#grounding"}
          %i{"class" => "icon-tag"}
          Grounding
