.container-fluid
  .row-fluid
    = render "navigation"

    .span9
      .hero-unit
        %h1 Service Annotation
        %p
          For the service discovery and invocation it is necessary to register semantic
          enabled WSDL (SAWSDL) files. The following tutorial explains the general process
          how to annotate a WSDL file with the attributes
          %strong
            sawsdl:liftingSchemaMapping
          ,
          %strong
            sawsdl:loweringSchemaMapping
          and
          %strong
            sawsdl:modelReference.

      %h2 WSDL Element - Annotation Property Relations
      %p{"align" => "center"}
        %table{"class" => "table table-striped"}
          %tr
            %th WSDL Element
            %th Annotation Property
            %th Used For
            %th Comment
          %tr
            %td wsdl:service
            %td sawsdl:modelReference
            %td Discovery
            %td Add categories to a service. Use for this concepts in a taxonomy.
          %tr
            %td xmlns:element
            %td sawsdl:loweringSchemaMapping
            %td Invocation
            %td Link to a XSLT script for the lowering process. Transformation from the internal RDF representation to the XML input for the service.
          %tr
            %td xmlns:element
            %td sawsdl:liftingSchemaMapping
            %td Invocation
            %td Link to a XSLT script for the lifting process. Transformation from the XML output of the service to the internal RDF representation.

      %h2 Namespace Definitions
      %p
        %table
          %tr
            %th sawsdl
            %td ...
            %td
              %a{"href" => "http://www.w3.org/ns/sawsdl#", "target" => "_blank"} http://www.w3.org/ns/sawsdl#
          %tr
            %th wsdl
            %td ...
            %td
              %a{"href" => "http://www.w3.org/ns/wsdl-rdf#", "target" => "_blank"} http://www.w3.org/ns/wsdl-rdf#
          %tr
            %th xmlns
            %td ...
            %td
              %a{"href" => "http://www.w3.org/2001/XMLSchema#", "target" => "_blank"} http://www.w3.org/2001/XMLSchema#

      %h2 Example

      %h3 Lifting and Lowering Schemas
      %p{"align" => "justify"}
        As described in the following example the sawsdl:loweringSchemaMapping is related to
        the input message and the sawsdl:liftingSchemaMapping is related to the output message.
        The XSL transformation (XSLT) scripts must be accessible by the SESA platform in order
        to perform the transformation during the invocation process.

      %pre.prettyprint.lang-xml
        &lt;wsdl:types&gt;
        &lt;schema targetNamespace="http://sesa.sti2.at/services/dummy/" xmlns="http://www.w3.org/2001/XMLSchema"&gt;
        &lt;element name="submitFALForm" type="tns:submitFALForm" <strong>sawsdl:loweringSchemaMapping="http://sesa.sti2.at/services/xslt/valenciaport-lowering.xslt"</strong>/&gt;
        &lt;/schema&gt;
        &lt;schema targetNamespace="http://sesa.sti2.at/services/dummy/" xmlns="http://www.w3.org/2001/XMLSchema"&gt;
        &lt;element name="submitFALFormResponse" type="tns:submitFALFormResponse" <strong>sawsdl:liftingSchemaMapping="http://sesa.sti2.at/services/xslt/valenciaport-lifting.xslt"</strong> /&gt;
        &lt;/schema&gt;
        &lt;/wsdl:types&gt;

      %h3 Service CategorizationService Categorization
      %p{"align" => "justify"}
        For the annotation we use the
        %strong sawsdl:modelReference
        attribute in the
        %strong wsdl:service
        element. If more than one category is specified the URLs have to be separated by space(s) or also possible by new line.
      %pre.prettyprint.lang-xml
        &lt;wsdl:service name="ValenciaPortWebServiceService" <strong>sawsdl:modelReference="http://www.sti2.at/MSEE/ServiceCategories#CustomsAuthorityPreArrival
        http://www.sti2.at/MSEE/ServiceCategories#Maritime
        http://www.sti2.at/MSEE/ServiceCategories#SendArrivalNotification
        http://www.sti2.at/MSEE/ServiceCategories#CustomsAuthorityPreDeparture"</strong>&gt;
        &lt;wsdl:port name="ValenciaPortWebServicePort" binding="tns:ValenciaPortWebServiceServiceSoapBinding "&gt;
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;wsdlsoap:address location=""http://sesa.sti2.at:8080/invoker-dummy-webservice/services/valenciaPortWebService "/&gt;
        &lt;/wsdl:port&gt;
        &lt;/wsdl:service&gt;
