<div id="my-accordion" class="accordion">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#collapse-year-2012" data-parent="#my-accordion" data-toggle="collapse" class="accordion-toggle">Operation Details</a>
        </div>
        <div class="accordion-body collapse in" id="monitoring">
            <div class="accordion-inner">
                <div id="servicedetails"><%= render 'servicedetails' %></div>
            </div><!-- .accordion-inner -->
        </div><!-- .accordion-body -->
    </div><!-- .accordion-group -->
    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#collapse-year-2011" data-parent="#my-accordion" data-toggle="collapse" class="accordion-toggle">Monitored Data</a>
        </div>
        <div class="accordion-body collapse" id="opteration details">
            <div class="accordion-inner">
                 <%= render 'graph' %>
            </div><!-- .accordion-inner -->
        </div><!-- .accordion-body -->
    </div><!-- .accordion-group -->
</div>
