<lu>
    <li>
        <%= @qos%>
    </li>
    <li>
        <%= @values%>
    </li>
    <li>
        Endpoints to be ranked: 
        <%= @endpoints%>
    </li>
    
    
    <li>
        <%= @results%>
    </li>
</lu>