.container
  .hero-unit
    .row
      %a{"href" => "http://www.msee-ip.eu/", "target" => "_blank"}= image_tag("msee_logo.png")
      %p{"align" => "justify"}
        By 2015, novel service-oriented management methodologies and the Future Internet universal business infrastructure will enable European virtual  factories and enterprises to self-organize in distributed, autonomous, interoperable, non-hierarchical innovation ecosystems of tangible and intangible manufacturing assets, to be virtually described, on-the-fly composed and dynamically delivered as a Service, end-to-end along the globalised value chain. 
        %p
          %a.btn.btn-primary.btn-large{"href" => "/doc"}
            %i.icon-info-sign.icon-white
            Learn more &raquo;

  %p
    %br

  .row
    .span4
      %h2 &nbsp;
    .span4
      .div{"align" => "center"}
        %h2 Developed by
      %p
        %a{"href" => "http://www.sti-innsbruck.at", "target" => "_blank"}= image_tag "sti_logo.gif"

