/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*= require autocomplete/style.css
*/

#namespace {
	width: 75%;
	height: 30px;
}

#operation {
	width: 75%;
	height: 30px;
}

#serviceID {
	width: 75%;
	height: 30px;
}
