.container
  %div{"align" => "center"}
    %h1 Release

  %h2 Version 1.0 (MSEE)
  %p{"align" => "justify"}
    Initial release with the following components:
    %ul
      %li
        %a{"href" => "http://sesa.sti2.at:8080/monitoring-webservice/services", "target" => "_blank"} Monitoring
        %a{"href" => "http://sesa.sti2.at:8080/monitoring-webservice/services/management?wsdl", "target" => "_blank"} (WSDL)
      %li
        %a{"href" => "http://sesa.sti2.at:8080/ranking-webservice/services", "target" => "_blank"} Ranking
        %a{"href" => "http://sesa.sti2.at:8080/ranking-webservice/services/ranking?wsdl", "target" => "_blank"} (WSDL)

  %p
    Source Code:
    %a{"href" => "http://redmine.sesa.sti2.at/projects/sesa-efreight/repository/show?rev=sesa-project-1.0", "target" => "_blank"} Snapshot v1.0
